In [1]:
import sys
sys.path.append("../")

import pandas as pd
import plotly.graph_objects as go
from dateutil import parser
import datetime as dt

from api.oanda_api import OandaApi
from infrastructure.instrument_collection import instrumentCollection as ic
from db.db import DataDB

In [2]:
database = DataDB()

In [3]:
ic.LoadInstrumentsDB()

In [4]:
pairs = []
for pair, val in ic.instruments_dict.items():
    if val.ins_type == "CURRENCY" and "GBP" in pair:
        pairs.append(pair)

In [5]:
pairs

['GBP_AUD',
 'GBP_CHF',
 'GBP_HKD',
 'GBP_ZAR',
 'GBP_CAD',
 'GBP_SGD',
 'GBP_USD',
 'GBP_PLN',
 'EUR_GBP',
 'GBP_NZD',
 'GBP_JPY']

In [17]:
data = []
api = OandaApi()
for p in pairs:
    d_temp = api.get_candles_df(pair_name=p, granularity="D", count=400)
    d_temp['gain'] = ((d_temp.mid_c - d_temp.mid_o) / d_temp.mid_c) * 100
    d_temp['pair'] = p
    if '_GBP' in p:
        d_temp['gain'] = d_temp['gain'] * -1
    data.append(d_temp)
candles_df = pd.concat(data)
candles_df.reset_index(drop=True, inplace=True)
candles_df.time = candles_df.time.dt.date

GBP_AUD
GBP_CHF
GBP_HKD
GBP_ZAR
GBP_CAD
GBP_SGD
GBP_USD
GBP_PLN
EUR_GBP
GBP_NZD
GBP_JPY

In [18]:
candles_df.tail()

,time,volume,mid_o,mid_h,mid_l,mid_c,bid_o,bid_h,bid_l,bid_c,ask_o,ask_h,ask_l,ask_c,gain,pair
4384,2024-11-24,380936,194.228,194.632,193.272,193.781,194.128,194.618,193.257,193.755,194.329,194.647,193.288,193.807,-0.230673,GBP_JPY
4385,2024-11-25,385787,193.871,193.894,192.046,192.450,193.689,193.807,192.031,192.421,194.053,194.093,192.059,192.478,-0.738374,GBP_JPY
4386,2024-11-26,330139,192.485,192.634,190.678,191.618,192.297,192.620,190.666,191.563,192.673,192.673,190.691,191.672,-0.452463,GBP_JPY
4387,2024-11-27,220540,191.591,192.479,191.378,192.284,191.416,192.463,191.263,192.245,191.766,192.495,191.404,192.322,0.360404,GBP_JPY
4388,2024-11-28,372575,192.281,192.316,190.157,190.695,192.150,192.270,190.140,190.470,192.412,192.430,190.174,190.920,-0.831695,GBP_JPY

In [24]:
calendar_data = database.query_all(DataDB.CALENDAR_COLL)

In [26]:
calendar_data_df = pd.DataFrame.from_dict(calendar_data)

In [28]:
calendar_data_df.date = calendar_data_df.date.dt.date

AttributeError: 'DataFrame' object has no attribute 'date'

In [29]:
calendar_data_df_uk = calendar_data_df[calendar_data_df.country == "united kingdom"]

AttributeError: 'DataFrame' object has no attribute 'country'

In [30]:
calendar_data_df_uk

NameError: name 'calendar_data_df_uk' is not defined