In [10]:
import pandas as pd
from plotting import CandlePlot
pd.set_option("display.max_columns", None)

In [11]:
df_ma_res = pd.read_pickle("../data/ma_res.pkl")
df_ma_trades = pd.read_pickle("../data/ma_trades.pkl")

In [16]:
df_ma_res.granularity.unique()

array(['H1', 'H4'], dtype=object)

In [17]:
df_ma_res_h1 = df_ma_res[df_ma_res.granularity == "H1"].copy()
df_ma_trades_h1 = df_ma_trades[df_ma_trades.granularity == "H1"].copy()

In [18]:
df_ma_trades_h1.shape

(34016, 32)

In [19]:
df_ma_res_h1.columns

Index(['pair', 'num_trades', 'total_gain', 'mean_gain', 'min_gain', 'max_gain',
       'ma_l', 'ma_s', 'cross', 'granularity'],
      dtype='object')

In [20]:
df_cross_summary = df_ma_res_h1[['pair', 'num_trades', 'total_gain', 'cross']].copy()

In [21]:
df_cross_summary

        pair  num_trades  total_gain         cross
0    EUR_USD         220        -738   MA_10_MA_20
1    EUR_USD         108         800   MA_10_MA_40
2    EUR_USD          96         987   MA_20_MA_40
3    EUR_USD         104         470   MA_30_MA_40
4    EUR_USD          70         380   MA_10_MA_80
..       ...         ...         ...           ...
715  CAD_JPY          37        -233  MA_40_MA_120
716  CAD_JPY          45         503  MA_10_MA_150
717  CAD_JPY          33         153  MA_20_MA_150
718  CAD_JPY          31         -46  MA_30_MA_150
719  CAD_JPY          31        -276  MA_40_MA_150

[480 rows x 4 columns]

In [24]:
df_cross_gr = df_cross_summary.groupby(by="cross", as_index=False).sum()
df_cross_gr.sort_values(by = "total_gain", ascending=False, inplace=True)

In [25]:
df_cross_gr

,cross,pair,num_trades,total_gain
3,MA_10_MA_40,EUR_USDEUR_GBPEUR_JPYEUR_AUDEUR_CADUSD_JPYUSD_...,3490,9976
7,MA_20_MA_40,EUR_USDEUR_GBPEUR_JPYEUR_AUDEUR_CADUSD_JPYUSD_...,3014,4488
2,MA_10_MA_20,EUR_USDEUR_GBPEUR_JPYEUR_AUDEUR_CADUSD_JPYUSD_...,6376,2972
11,MA_30_MA_40,EUR_USDEUR_GBPEUR_JPYEUR_AUDEUR_CADUSD_JPYUSD_...,3452,870
5,MA_20_MA_120,EUR_USDEUR_GBPEUR_JPYEUR_AUDEUR_CADUSD_JPYUSD_...,1392,-5300
4,MA_10_MA_80,EUR_USDEUR_GBPEUR_JPYEUR_AUDEUR_CADUSD_JPYUSD_...,2250,-5304
6,MA_20_MA_150,EUR_USDEUR_GBPEUR_JPYEUR_AUDEUR_CADUSD_JPYUSD_...,1212,-6040
1,MA_10_MA_150,EUR_USDEUR_GBPEUR_JPYEUR_AUDEUR_CADUSD_JPYUSD_...,1658,-6124
0,MA_10_MA_120,EUR_USDEUR_GBPEUR_JPYEUR_AUDEUR_CADUSD_JPYUSD_...,1870,-6176
8,MA_20_MA_80,EUR_USDEUR_GBPEUR_JPYEUR_AUDEUR_CADUSD_JPYUSD_...,1814,-6294
9,MA_30_MA_120,EUR_USDEUR_GBPEUR_JPYEUR_AUDEUR_CADUSD_JPYUSD_...,1184,-6516
10,MA_30_MA_150,EUR_USDEUR_GBPEUR_JPYEUR_AUDEUR_CADUSD_JPYUSD_...,1018,-6764
12,MA_30_MA_80,EUR_USDEUR_GBPEUR_JPYEUR_AUDEUR_CADUSD_JPYUSD_...,1654,-7838
13,MA_40_MA_120,EUR_USDEUR_GBPEUR_JPYEUR_AUDEUR_CADUSD_JPYUSD_...,1124,-8394
14,MA_40_MA_150,EUR_USDEUR_GBPEUR_JPYEUR_AUDEUR_CADUSD_JPYUSD_...,934,-9186
15,MA_40_MA_80,EUR_USDEUR_GBPEUR_JPYEUR_AUDEUR_CADUSD_JPYUSD_...,1574,-9540